@font-face {
  font-family: 'CookieRun_Black'; /* 사용할 폰트 이름 */
  src: url('/public/assets/fonts/CookieRun_Black.ttf') format('truetype'); /* 폰트 파일의 경로 */
}
@font-face {
  font-family: 'CookieRun_Bold'; /* 사용할 폰트 이름 */
  src: url('/public/assets/fonts/CookieRun_Bold.ttf') format('truetype'); /* 폰트 파일의 경로 */
}

@font-face {
  font-family: 'CookieRun_Regular'; /* 사용할 폰트 이름 */
  src: url('/public/assets/fonts/CookieRun_Regular.ttf') format('truetype'); /* 폰트 파일의 경로 */
}

.lobby_container{
  margin-top: 100px;
}
/* 000님 환영합니다. */
.welcome{
  font-size: 20px;
  margin-bottom: 12px;
  text-align: right;
  margin-right: 90px;
  font-family: 'CookieRun_Regular';
}

/* 네모 박스 */
.lobby{
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  text-align: center;
  border-radius: 10px;
  padding: 50px 80px 50px 80px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.5);
}

.text{
  font-family: 'CookieRun_Bold'
}

/* .row1{
  display: flex;
} */
/* 왼쪽 구역 */
.left_area{
  width: 100%;
  height: 450px;
}
/* 랭킹 */
.ranking_area{
  width: 100%;
  height: 150px;

  border-radius: 10px;
  flex: 1; /* 자유 공간을 다 차지하도록 확장 */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  scrollbar-color: lightgray white;
  scrollbar-width: thin;
  margin-bottom: 7px;
  
}
/* 조작법 */
.control_area{
  width: 100%;
  height: 210px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: 'CookieRun_Regular'
}

/* 오른쪽 구역 */
.right_area{
  width: 100%;
  height: 450px;
}
/* 방있는 곳 */
.room_area{
  border-radius: 10px;
  flex: 1; /* 자유 공간을 다 차지하도록 확장 */
  font-size: 30px;
  padding: 0 0 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 340px; /* 내용이 들어갔을 때 최대 높이 제한 */
  background-color: rgba(255, 255, 255, 0.7);
  scrollbar-color: lightgray white;
  scrollbar-width: thin;
}

.room_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 10px;  
}

/* 방들 */
.players_room{
  width: 100%;
  height: 100%;
  font-size: 30px;
  margin-top: 10px;
  padding: auto;
}

/* 방만들기 버튼 */
.create_room_area{
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.create_room{
  width: 100%;
  height: 50px;
  font-family: 'CookieRun_Bold';
  font-size: 24px;
}


.join_btn{
  width: 100%;
  height: 100%;
  font-family: 'CookieRun_Regular';
}


/* button */
.keyboard{
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  margin-left: 20px;
  background-color: #E6E6E6;
}

.key{
  width: 100px;
  margin-top: -140px;
  margin-left: 110px;
}
