@font-face {
    font-family: 'RacingFont';
    src: url('./static/font/RACING_HARD.ttf') format('truetype');
  }

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#abdbe3, #f9e09b);
    
}
.loadingPage {
    position: fixed;
    z-index: 1111;
}

.interface{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; 클릭 이벤트 비활성화 : 마우스가 더 이상 작동X */
    font-family: 'Bebas Neue', cursive;
}
.lapse{
    color: #ffffff;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    font-size : 3rem;
    padding : 10px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 3%;
}
.time{
    position: absolute;
    color: #ffffff;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    font-size: 3rem;
    padding : 10px;
    text-align: center;
    top:5%;
    left:3%;
}
.rankingSpace {
    font-size: 30px;
    position: absolute;
    top:20%;
    left:3%;
}

.first-place {
    font-family: "RacingFont", sans-serif;
    font-size: 60px;
    transition: font-size 0.3s ease;
    color: #ffffff;
    text-shadow: -2px 0px red, 0px 2px red, 2px 0px red, 0px -2px red;
    font-weight: bolder;
}
.other-places {
    font-family: "RacingFont", sans-serif;
    font-size: 35px;
    transition: font-size 0.3s ease;
    color: #ffffff;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    font-weight: bolder;
}
/**
 * Restart
 */
 .toLobby
 {
     display: flex;
     justify-content: center;
     position: absolute;
     top: 67%;
     left: 0;
     width: 100%;
     color: #ffffff;
     font-size: 40px;
     background: #00000033;
     pointer-events: auto;
     cursor: pointer;
 }

 .winnerdiv
 {
    font-family: "RacingFont", sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    text-align: center;
 }

 /**
 * Controls
 */
 .controls
 {
     text-align: center;
     position: absolute;
     bottom: 10%;
     left: 0;
     right:0;
     width: 100%;
 }
 
 .controls .raw
 {
     display: flex;
     justify-content: center;
 }
 
 .controls .key
 {
     font-family: "aptos-bold";
     font-size: 30px;
     padding-top: 0px;
     width: 40px;
     height: 40px;
     margin: 4px;
     border: 2px solid #ffffff;
     background: #ffffff44;
 }
 
 .controls .key.large
 {
     width: 144px;
 }
 
 .controls .key.middle
 {  
     margin-right: 59px;
     width: 90px;
 }
 
 .controls .key.middle.active
 {  
     background: #ffffff99;
 }
 .controls .key.large.active
 {  
     background: #ffffff99;
 }
 
 .controls .key.active
 {
     background: #ffffff99;
 }

.countdown
{
    font-family: 'RacingFont';
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 120px;
    padding-top: 5px;
    text-align: center;
    text-shadow: -8px 0px black, 0px 8px black, 8px 0px black, 0px -8px black;
}

.startSign
{
    font-family: 'RacingFont';
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 200px;
    padding-top: 5px;
    text-align: center;
    text-shadow: -8px 0px black, 0px 8px black, 8px 0px black, 0px -8px black;
}

.countdown-animation {
    animation: countdown 3s linear forwards; /* 기본 1초 동안 점점 커지게 */
}

.startSign-animation {
    animation: startSign 1s linear forwards; /* 기본 1초 동안 점점 커지게 */
}

@keyframes countdown {
    0% {
      transform: scale(1); 
    }
    100% {
      transform: scale(2);
    }
}

@keyframes startSign {
    0% {
      transform: scale(0.5); 
    }
    100% {
      transform: scale(1);
    }
}



.crash {
  position: fixed;
  top: 50%; /* 이미지를 수직으로 중앙에 배치 */
  left: 50%; /* 이미지를 수평으로 중앙에 배치 */
  transform: translate(-50%, -50%); /* 이미지를 정확히 가운데로 이동 */
  width: 600px; /* 이미지의 너비 */
  height: auto; /* 높이 자동 조정 */
  z-index: 9999; /* 다른 요소들보다 위로 올리기 */
}

.finallap{
    display: 'flex';
    text-align: center;
    margin-top: 90px;
}

.finallap img{
    animation: flicker 0.5s infinite linear;
}

@keyframes flicker{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@font-face {
  font-family: 'Aptos';
  src: url('../public/assets/fonts/aptos-semibold.ttf') format('woff2'), 
       url('../public/assets/fonts/aptos-semibold.ttf') format('woff'); 
}

@font-face {
  font-family: 'Aptos-italic';
  src: url('../public/assets/fonts/aptos-italic.ttf') format('woff2'), 
       url('../public/assets/fonts/aptos-italic.ttf') format('woff'); 
}